@model Dress_BLL.Model.ServiceDetailsModel
@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Account/Admin.cshtml";
    ViewData["Title"] = "Administration Console";
    ViewBag.Home = "active";
}

<script>
    $(document).ready(function () {

        tinymce.init({
            selector: 'textarea',
            height: 400,
            menubar: false,
            plugins: [
                'advlist', 'autolink', 'link', 'lists', 'charmap', 'preview',
                'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code',
                'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template',
            ],
            toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link | preview media fullscreen | ' +
                'forecolor backcolor emoticons',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });

        $("#image1").on('change', function () {
            var data = new FormData();
            var files = $("#image1").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Web');
                data.append("Index_Attachment", 1);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo1").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image2").on('change', function () {
            var data = new FormData();
            var files = $("#image2").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Web');
                data.append("Index_Attachment", 2);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo2").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image3").on('change', function () {
            var data = new FormData();
            var files = $("#image3").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Web');
                data.append("Index_Attachment", 3);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo3").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image1_mobile").on('change', function () {
            var data = new FormData();
            var files = $("#image1_mobile").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Mobile');
                data.append("Index_Attachment", 1);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo1_mobile").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image2_mobile").on('change', function () {
            var data = new FormData();
            var files = $("#image2_mobile").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Mobile');
                data.append("Index_Attachment", 2);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo2_mobile").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image3_mobile").on('change', function () {
            var data = new FormData();
            var files = $("#image3_mobile").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Mobile');
                data.append("Index_Attachment", 3);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo3_mobile").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_dt1").on('change', function () {
            var data = new FormData();
            var files = $("#image_dt1").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step1');
                data.append("Index_Attachment", 4);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_dt1").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_dt2").on('change', function () {
            var data = new FormData();
            var files = $("#image_dt2").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step2');
                data.append("Index_Attachment", 4);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_dt2").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_dt3").on('change', function () {
            var data = new FormData();
            var files = $("#image_dt3").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step3');
                data.append("Index_Attachment", 4);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_dt3").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_dt4").on('change', function () {
            var data = new FormData();
            var files = $("#image_dt4").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step4');
                data.append("Index_Attachment", 4);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_dt4").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_dt5").on('change', function () {
            var data = new FormData();
            var files = $("#image_dt5").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step5');
                data.append("Index_Attachment", 4);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_dt5").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_dt6").on('change', function () {
            var data = new FormData();
            var files = $("#image_dt6").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step6');
                data.append("Index_Attachment", 4);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_dt6").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#btn_delete_object1").on('click', function () {
            var data = new FormData();
            data.append("Code", '@Model.ServiceDetails.Id');
            data.append("Type", 'Step1');
            data.append("Index_Attachment", 4);

            $.ajax({
                url: "@Url.Action("DeleteObject")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    alert("Xóa thành công");
                    location.reload();
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#btn_delete_object2").on('click', function () {
            var data = new FormData();
            data.append("Code", '@Model.ServiceDetails.Id');
            data.append("Type", 'Step2');
            data.append("Index_Attachment", 4);

            $.ajax({
                url: "@Url.Action("DeleteObject")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    alert("Xóa thành công");
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#btn_delete_object3").on('click', function () {
            var data = new FormData();
            data.append("Code", '@Model.ServiceDetails.Id');
            data.append("Type", 'Step3');
            data.append("Index_Attachment", 4);

            $.ajax({
                url: "@Url.Action("DeleteObject")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    alert("Xóa thành công");
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#btn_delete_object4").on('click', function () {
            var data = new FormData();
            data.append("Code", '@Model.ServiceDetails.Id');
            data.append("Type", 'Step4');
            data.append("Index_Attachment", 4);

            $.ajax({
                url: "@Url.Action("DeleteObject")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    alert("Xóa thành công");
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#btn_delete_object5").on('click', function () {
            var data = new FormData();
            data.append("Code", '@Model.ServiceDetails.Id');
            data.append("Type", 'Step5');
            data.append("Index_Attachment", 4);

            $.ajax({
                url: "@Url.Action("DeleteObject")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    alert("Xóa thành công");
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#btn_delete_object6").on('click', function () {
            var data = new FormData();
            data.append("Code", '@Model.ServiceDetails.Id');
            data.append("Type", 'Step6');
            data.append("Index_Attachment", 4);

            $.ajax({
                url: "@Url.Action("DeleteObject")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    alert("Xóa thành công");
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_qt1").on('change', function () {
            var data = new FormData();
            var files = $("#image_qt1").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step1');
                data.append("Index_Attachment", 5);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_qt1").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        @*$("#image_qt2").on('change', function () {
            var data = new FormData();
            var files = $("#image_qt2").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step2');
                data.append("Index_Attachment", 5);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_qt2").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_qt3").on('change', function () {
            var data = new FormData();
            var files = $("#image_qt3").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step3');
                data.append("Index_Attachment", 5);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_qt3").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_qt4").on('change', function () {
            var data = new FormData();
            var files = $("#image_qt4").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step4');
                data.append("Index_Attachment", 5);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_qt4").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_qt5").on('change', function () {
            var data = new FormData();
            var files = $("#image_qt5").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step5');
                data.append("Index_Attachment", 5);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_qt5").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });*@

        $("#image_ts1").on('change', function () {
            var data = new FormData();
            var files = $("#image_ts1").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step1');
                data.append("Index_Attachment", 6);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_ts1").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_ts2").on('change', function () {
            var data = new FormData();
            var files = $("#image_ts2").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step2');
                data.append("Index_Attachment", 6);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_ts2").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_ts3").on('change', function () {
            var data = new FormData();
            var files = $("#image_ts3").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step3');
                data.append("Index_Attachment", 6);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_ts3").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_ts4").on('change', function () {
            var data = new FormData();
            var files = $("#image_ts4").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step4');
                data.append("Index_Attachment", 6);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_ts4").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_kh1").on('change', function () {
            var data = new FormData();
            var files = $("#image_kh1").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step1');
                data.append("Index_Attachment", 7);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_kh1").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_kh2").on('change', function () {
            var data = new FormData();
            var files = $("#image_kh2").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step2');
                data.append("Index_Attachment", 7);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_kh2").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_kh3").on('change', function () {
            var data = new FormData();
            var files = $("#image_kh3").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step3');
                data.append("Index_Attachment", 7);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_kh3").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#image_kh4").on('change', function () {
            var data = new FormData();
            var files = $("#image_kh4").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Code", '@Model.ServiceDetails.Id');
                data.append("Type", 'Step4');
                data.append("Index_Attachment", 7);
            }
            $.ajax({
                url: "@Url.Action("UploadImage")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photo_kh4").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#imagerefer_1").on('change', function () {
            var data = new FormData();
            var files = $("#imagerefer_1").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Service_Id", '@Model.ServiceDetails.Id');
                data.append("Index", 1);
                data.append("Type", "Service");
            }
            $.ajax({
                url: "@Url.Action("UploadServiceReference")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photorefer_1").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#imagerefer_2").on('change', function () {
            var data = new FormData();
            var files = $("#imagerefer_2").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Service_Id", '@Model.ServiceDetails.Id');
                data.append("Index", 2);
                data.append("Type", "Service");
            }
            $.ajax({
                url: "@Url.Action("UploadServiceReference")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photorefer_2").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#imagerefer_3").on('change', function () {
            var data = new FormData();
            var files = $("#imagerefer_3").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Service_Id", '@Model.ServiceDetails.Id');
                data.append("Index", 3);
                data.append("Type", "Service");
            }
            $.ajax({
                url: "@Url.Action("UploadServiceReference")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photorefer_3").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#imageinformrefer_1").on('change', function () {
            var data = new FormData();
            var files = $("#imageinformrefer_1").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Service_Id", '@Model.ServiceDetails.Id');
                data.append("Index", 1);
                data.append("Type", "Information");
            }
            $.ajax({
                url: "@Url.Action("UploadServiceReference")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photoinformrefer_1").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#imageinformrefer_2").on('change', function () {
            var data = new FormData();
            var files = $("#imageinformrefer_2").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Service_Id", '@Model.ServiceDetails.Id');
                data.append("Index", 2);
                data.append("Type", "Information");
            }
            $.ajax({
                url: "@Url.Action("UploadServiceReference")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photoinformrefer_2").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#imageinformrefer_3").on('change', function () {
            var data = new FormData();
            var files = $("#imageinformrefer_3").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
                data.append("Service_Id", '@Model.ServiceDetails.Id');
                data.append("Index", 3);
                data.append("Type", "Information");
            }
            $.ajax({
                url: "@Url.Action("UploadServiceReference")",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#photoinformrefer_3").attr("src", response.ImagePath);
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#btnDelete").click(function () {
            var model = {
                'Id': @Model.ServiceDetails.Id
            };

            $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteService")",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(model),
                    success: function (data) {
                        if (data.Response == "Success") {
                            alert("Xóa bản ghi thành công.");
                            location.href = '/Account/ManageService';
                        }
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
        });

        $("#btnSave").click(function () {
            var model = {
                'Id': $("#txtId").val(),
                'Code': $("#txtCode").val(),
                'Title': $("#txtName").val(),
                'Title1': $("#txttitle1").val(),
                'Content1': tinymce.get("ServiceDetails_Content1").getContent(),
                'Title2': $("#txttitle2").val(),
                'Content2': tinymce.get("ServiceDetails_Content2").getContent(),
                'Title3': $("#txttitle3").val(),
                'Title4': $("#txttitle4").val(),
                'Title5': $("#txttitle5").val(),
                'Title6': $("#txttitle6").val(),
                'Title7': $("#txttitle7").val(),
                'SearchKey': $("#txtSearch").val(),
                'NumberOfObjects': $("#txtObject").val(),
                'ServiceReferences':
                    [
                        {
                            Id: $("#serviceHidden_1").val(),
                            Title: $("#txtServiceReferenceTitle_1").val(),
                            Url: $("#txtServiceReferenceUrl_1").val(),
                            Index: 1
                        },
                        {
                            Id: $("#serviceHidden_2").val(),
                            Title: $("#txtServiceReferenceTitle_2").val(),
                            Url: $("#txtServiceReferenceUrl_2").val(),
                            Index: 2
                        },
                        {
                            Id: $("#serviceHidden_3").val(),
                            Title: $("#txtServiceReferenceTitle_3").val(),
                            Url: $("#txtServiceReferenceUrl_3").val(),
                            Index: 3
                        }
                    ],
                'InformationReferences': [
                    {
                        Id: $("#inforHidden_1").val(),
                        Title: $("#txtInformationReferenceTitle_1").val(),
                        Url: $("#txtInformationReferenceUrl_1").val(),
                        Index: 1
                    },
                    {
                        Id: $("#inforHidden_2").val(),
                        Title: $("#txtInformationReferenceTitle_2").val(),
                        Url: $("#txtInformationReferenceUrl_2").val(),
                        Index: 2
                    },
                    {
                        Id: $("#inforHidden_3").val(),
                        Title: $("#txtInformationReferenceTitle_3").val(),
                        Url: $("#txtInformationReferenceUrl_3").val(),
                        Index: 3
                    }
                ]
                };

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateService")",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(model),
                    success: function (data) {
                        if (data.Response == "Success") {
                            alert("Cập nhật dịch vụ thành công.");
                            location.href = '/Account/ManageService';
                        }
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
        });
    });
</script>

<div class="edit-content">
    <div class="card">
        <div class="card-header bg-primary text-white">Thay đổi trang dịch vụ</div>
        <div class="card-body">
            <input type="hidden" id="txtId" value="@Model.ServiceDetails.Id" />
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="email">Mã dịch vụ:</label>
                    <input type="text" class="form-control" id="txtCode" value="@Model.ServiceDetails.Code" placeholder="Nhập mã dịch vụ">
                </div>
                <div class="form-group">
                    <label for="pwd">Tên dịch vụ:</label>
                    <input type="text" class="form-control" id="txtName" value="@Model.ServiceDetails.Title" placeholder="Nhập tên dịch vụ">
                </div>
                <div class="form-group">
                    <label for="email">Nội dung 1:</label>
                    @Html.TextAreaFor(m => m.ServiceDetails.Content1)
                    @*<textarea id="txtContent1" placeholder="Nhập nội dung 1">@Model.ServiceDetails.Content1</textarea>*@
                </div>
                <div class="form-group">
                    <label for="pwd">Nội dung 2:</label>
                    @Html.TextAreaFor(m => m.ServiceDetails.Content2)
                </div>
                <div class="form-group">
                    <label for="pwd">Từ khóa tìm kiếm:</label>
                    <input type="text" class="form-control" id="txtSearch" value="@Model.ServiceDetails.SearchKey" placeholder="Nhập từ khóa tìm kiếm">
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="email">Tiêu đề 1:</label>
                    <input type="text" class="form-control" id="txttitle1" value="@Model.ServiceDetails.Title1" placeholder="Nhập tiêu đề 1">
                </div>
                <div class="form-group">
                    <label for="email">Tiêu đề 2:</label>
                    <input type="text" class="form-control" id="txttitle2" value="@Model.ServiceDetails.Title2" placeholder="Nhập tiêu đề 2">
                </div>
                <div class="form-group">
                    <label for="email">Tiêu đề 3:</label>
                    <input type="text" class="form-control" id="txttitle3" value="@Model.ServiceDetails.Title3" placeholder="Nhập tiêu đề 3">
                </div>
                <div class="form-group">
                    <label for="email">Tiêu đề 4:</label>
                    <input type="text" class="form-control" id="txttitle4" value="@Model.ServiceDetails.Title4" placeholder="Nhập tiêu đề 4">
                </div>
                <div class="form-group">
                    <label for="email">Tiêu đề 5:</label>
                    <input type="text" class="form-control" id="txttitle5" value="@Model.ServiceDetails.Title5" placeholder="Nhập tiêu đề 5">
                </div>
                <div class="form-group">
                    <label for="email">Tiêu đề 6:</label>
                    <input type="text" class="form-control" id="txttitle6" value="@Model.ServiceDetails.Title6" placeholder="Nhập tiêu đề 6">
                </div>
                <div class="form-group">
                    <label for="email">Tiêu đề 7:</label>
                    <input type="text" class="form-control" id="txttitle7" value="@Model.ServiceDetails.Title7" placeholder="Nhập tiêu đề 7">
                </div>
                <div class="form-group">
                    <label for="email">Số lượng ảnh đối tượng:</label>
                    <input type="text" class="form-control" id="txtObject" value="@Model.ServiceDetails.NumberOfObjects" placeholder="Nhập số lượng ảnh đối tượng">
                </div>
            </div>
        </div>
    </div>

    <div class="card margin-top-30">
        <div class="card-header bg-primary text-white">Thay đổi dịch vụ đi kèm</div>
        <div class="card-body">
            @{ int index = 1; }
            @foreach (var item in @Model.ServiceReferences)
            {
                <input type="hidden" value="@item.Id" id="serviceHidden_@index" />
                <div class="row" style="width: 100%;">
                    <div class="col col-md-12 margin-left-15">Dịch vụ đi kèm @index</div>
                    <div class="col col-md-12 margin-top-20">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="email">Tiêu đề:</label>
                                <input type="text" class="form-control" id="txtServiceReferenceTitle_@index" value="@item.Title" placeholder="Nhập tiêu đề">
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="email">Đường dẫn:</label>
                                <input type="text" class="form-control" id="txtServiceReferenceUrl_@index" value="@item.Url" placeholder="Nhập đường dẫn">
                            </div>
                        </div>
                    </div>
                </div>

                index++;
            }

        </div>
    </div>

    <div class="card margin-top-30">
        <div class="card-header bg-primary text-white">Thay đổi tin tức liên quan</div>
        <div class="card-body">
            @{ int index1 = 1; }
            @foreach (var item in @Model.InformationReferences)
            {
                <input type="hidden" value="@item.Id" id="inforHidden_@index1" />
                <div class="row" style="width: 100%;">
                    <div class="col col-md-12 margin-left-15">Tin tức đi kèm @index1</div>
                    <div class="col col-md-12 margin-top-20">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="email">Tiêu đề:</label>
                                <input type="text" class="form-control" id="txtInformationReferenceTitle_@index1" value="@item.Title" placeholder="Nhập tiêu đề">
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="email">Đường dẫn:</label>
                                <input type="text" class="form-control" id="txtInformationReferenceUrl_@index1" value="@item.Url" placeholder="Nhập đường dẫn">
                            </div>
                        </div>
                    </div>
                </div>

                index1++;
            }
        </div>
    </div>

    <div class="card margin-top-30">
        <div class="card-header bg-primary text-white">Thay đổi ảnh dịch vụ</div>
        <div class="card-body" style="display: block">
            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh 1</label>
                        <div class="imageView">
                            <input type="file" id="image1" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Web" && m.Index_Attactment == 1) != null)
                            {
                                <img id="photo1" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Web" && m.Index_Attactment == 1).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh 2</label>
                        <div class="imageView">
                            <input type="file" id="image2" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Web" && m.Index_Attactment == 2) != null)
                            {
                                <img id="photo2" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Web" && m.Index_Attactment == 2).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh 3</label>
                        <div class="imageView">
                            <input type="file" id="image3" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Web" && m.Index_Attactment == 3) != null)
                            {
                                <img id="photo3" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Web" && m.Index_Attactment == 3).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh 1 Mobile</label>
                        <div class="imageView">
                            <input type="file" id="image1_mobile" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Mobile" && m.Index_Attactment == 1) != null)
                            {
                                <img id="photo1_mobile" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Mobile" && m.Index_Attactment == 1).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh 2 Mobile</label>
                        <div class="imageView">
                            <input type="file" id="image2_mobile" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Mobile" && m.Index_Attactment == 2) != null)
                            {
                                <img id="photo2_mobile" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Mobile" && m.Index_Attactment == 2).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh 3 Mobile</label>
                        <div class="imageView">
                            <input type="file" id="image3_mobile" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Mobile" && m.Index_Attactment == 3) != null)
                            {
                                <img id="photo3_mobile" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Mobile" && m.Index_Attactment == 3).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh đối tượng 1</label>
                        <div class="imageView">
                            <input type="file" id="image_dt1" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step1" && m.Index_Attactment == 4) != null)
                            {
                                <img id="photo_dt1" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step1" && m.Index_Attactment == 4).Url' class="photo-view" /><br />
                                <input type="button" style="margin-top: 10px;" id="btn_delete_object1" value="Xóa ảnh" /><br />
                            }
                        </div>
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh đối tượng 2</label>
                        <div class="imageView">
                            <input type="file" id="image_dt2" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step2" && m.Index_Attactment == 4) != null)
                            {
                                <img id="photo_dt2" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step2" && m.Index_Attactment == 4).Url' class="photo-view" /><br />
                                <input type="button" style="margin-top: 10px;" id="btn_delete_object2" value="Xóa ảnh" />
                            }
                        </div>
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh đối tượng 3</label>
                        <div class="imageView">
                            <input type="file" id="image_dt3" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step3" && m.Index_Attactment == 4) != null)
                            {
                                <img id="photo_dt3" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step3" && m.Index_Attactment == 4).Url' class="photo-view" /><br />
                                <input type="button" style="margin-top: 10px;" id="btn_delete_object3" value="Xóa ảnh" /><br />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh đối tượng 4</label>
                        <div class="imageView">
                            <input type="file" id="image_dt4" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step4" && m.Index_Attactment == 4) != null)
                            {
                                <img id="photo_dt4" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step4" && m.Index_Attactment == 4).Url' class="photo-view" /><br />
                                <input type="button" style="margin-top: 10px;" id="btn_delete_object4" value="Xóa ảnh" /><br />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh đối tượng 5</label>
                        <div class="imageView">
                            <input type="file" id="image_dt5" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step5" && m.Index_Attactment == 4) != null)
                            {
                                <img id="photo_dt5" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step5" && m.Index_Attactment == 4).Url' class="photo-view" /><br />
                                <input type="button" style="margin-top: 10px;" id="btn_delete_object5" value="Xóa ảnh" /><br />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh đối tượng 6</label>
                        <div class="imageView">
                            <input type="file" id="image_dt6" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step6" && m.Index_Attactment == 4) != null)
                            {
                                <img id="photo_dt6" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step6" && m.Index_Attactment == 4).Url' class="photo-view" /><br />
                                <input type="button" style="margin-top: 10px;" id="btn_delete_object6" value="Xóa ảnh" /><br />
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh quy trình 1</label>
                        <div class="imageView">
                            <input type="file" id="image_qt1" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step1" && m.Index_Attactment == 5) != null)
                            {
                                <img id="photo_qt1" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step1" && m.Index_Attactment == 5).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                @*<div class="col col-md-4">
                            <div class="form-group">
                                <label for="email">Ảnh quy trình 2</label>
                                <div class="imageView">
                                    <input type="file" id="image_qt2" /><br />
                                    @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step2" && m.Index_Attactment == 5) != null)
                                    {
                                        <img id="photo_qt2" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step2" && m.Index_Attactment == 5).Url' class="photo-view" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label for="email">Ảnh quy trình 3</label>
                                <div class="imageView">
                                    <input type="file" id="image_qt3" /><br />
                                    @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step3" && m.Index_Attactment == 5) != null)
                                    {
                                        <img id="photo_qt3" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step3" && m.Index_Attactment == 5).Url' class="photo-view" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-upload">
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label for="email">Ảnh quy trình 4</label>
                                <div class="imageView">
                                    <input type="file" id="image_qt4" /><br />
                                    @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step4" && m.Index_Attactment == 5) != null)
                                    {
                                        <img id="photo_qt4" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step4" && m.Index_Attactment == 5).Url' class="photo-view" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label for="email">Ảnh quy trình 5</label>
                                <div class="imageView">
                                    <input type="file" id="image_qt5" /><br />
                                    @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step5" && m.Index_Attactment == 5) != null)
                                    {
                                        <img id="photo_qt5" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step5" && m.Index_Attactment == 5).Url' class="photo-view" />
                                    }
                                </div>
                            </div>
                        </div>*@
            </div>

            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh tại sao 1</label>
                        <div class="imageView">
                            <input type="file" id="image_ts1" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step1" && m.Index_Attactment == 6) != null)
                            {
                                <img id="photo_ts1" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step1" && m.Index_Attactment == 6).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh tại sao 2</label>
                        <div class="imageView">
                            <input type="file" id="image_ts2" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step2" && m.Index_Attactment == 6) != null)
                            {
                                <img id="photo_ts2" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step2" && m.Index_Attactment == 6).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh tại sao 3</label>
                        <div class="imageView">
                            <input type="file" id="image_ts3" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step3" && m.Index_Attactment == 6) != null)
                            {
                                <img id="photo_ts3" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step3" && m.Index_Attactment == 6).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh tại sao 4</label>
                        <div class="imageView">
                            <input type="file" id="image_ts4" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step4" && m.Index_Attactment == 6) != null)
                            {
                                <img id="photo_ts4" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step4" && m.Index_Attactment == 6).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh hình ảnh thực tế khách hàng 1</label>
                        <div class="imageView">
                            <input type="file" id="image_kh1" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step1" && m.Index_Attactment == 7) != null)
                            {
                                <img id="photo_kh1" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step1" && m.Index_Attactment == 7).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh hình ảnh thực tế khách hàng 2</label>
                        <div class="imageView">
                            <input type="file" id="image_kh2" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step2" && m.Index_Attactment == 7) != null)
                            {
                                <img id="photo_kh2" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step2" && m.Index_Attactment == 7).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh hình ảnh thực tế khách hàng 3</label>
                        <div class="imageView">
                            <input type="file" id="image_kh3" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step3" && m.Index_Attactment == 7) != null)
                            {
                                <img id="photo_kh3" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step3" && m.Index_Attactment == 7).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh hình ảnh thực tế khách hàng 4</label>
                        <div class="imageView">
                            <input type="file" id="image_kh4" /><br />
                            @if (@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step4" && m.Index_Attactment == 7) != null)
                            {
                                <img id="photo_kh4" alt="Photo" src='@Model.ServiceDetails.Attachment.FirstOrDefault(m => m.Type == "Step4" && m.Index_Attactment == 7).Url' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card margin-top-30">
        <div class="card-header bg-primary text-white">Thay đổi ảnh dịch vụ liên quan</div>
        <div class="card-body" style="display: block">
            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh dịch vụ liên quan 1</label>
                        <div class="imageView">
                            <input type="file" id="imagerefer_1" /><br />
                            @if (@Model.ServiceReferences.FirstOrDefault(m => m.Index == 1) != null)
                            {
                                <img id="photorefer_1" alt="Photo" src='@Model.ServiceReferences.FirstOrDefault(m => m.Index == 1).LogoUrl' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh dịch vụ liên quan 2</label>
                        <div class="imageView">
                            <input type="file" id="imagerefer_2" /><br />
                            @if (@Model.ServiceReferences.FirstOrDefault(m => m.Index == 2) != null)
                            {
                                <img id="photorefer_2" alt="Photo" src='@Model.ServiceReferences.FirstOrDefault(m => m.Index == 2).LogoUrl' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh dịch vụ liên quan 3</label>
                        <div class="imageView">
                            <input type="file" id="imagerefer_3" /><br />
                            @if (@Model.ServiceReferences.FirstOrDefault(m => m.Index == 3) != null)
                            {
                                <img id="photorefer_3" alt="Photo" src='@Model.ServiceReferences.FirstOrDefault(m => m.Index == 3).LogoUrl' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card margin-top-30">
        <div class="card-header bg-primary text-white">Thay đổi ảnh tin tức liên quan</div>
        <div class="card-body" style="display: block">
            <div class="row-upload">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh tin tức liên quan 1</label>
                        <div class="imageView">
                            <input type="file" id="imageinformrefer_1" /><br />
                            @if (@Model.InformationReferences.FirstOrDefault(m => m.Index == 1) != null)
                            {
                                <img id="photoinformrefer_1" alt="Photo" src='@Model.InformationReferences.FirstOrDefault(m => m.Index == 1).LogoUrl' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh tin tức liên quan 2</label>
                        <div class="imageView">
                            <input type="file" id="imageinformrefer_2" /><br />
                            @if (@Model.InformationReferences.FirstOrDefault(m => m.Index == 2) != null)
                            {
                                <img id="photoinformrefer_2" alt="Photo" src='@Model.InformationReferences.FirstOrDefault(m => m.Index == 2).LogoUrl' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Ảnh tin tức liên quan 3</label>
                        <div class="imageView">
                            <input type="file" id="imageinformrefer_3" /><br />
                            @if (@Model.ServiceReferences.FirstOrDefault(m => m.Index == 3) != null)
                            {
                                <img id="photoinformrefer_3" alt="Photo" src='@Model.InformationReferences.FirstOrDefault(m => m.Index == 3).LogoUrl' class="photo-view" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buntton-content">
        <input id="btnSave" class="btn btn-primary" value="Cập nhật" />
        <input style="margin-left: 20px" id="btnDelete" class="btn btn-primary" value="Xóa" />
    </div>
</div>