@model IEnumerable<Dress_BLL.Model.ImageHomeModel>
@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Account/Admin.cshtml";
    ViewData["Title"] = "Administration Console";
    ViewBag.Home = "active";
    var role = Session["Role"];
}

<script>
    $(document).ready(function () {
        for (let i = 1; i <= @Model.Count(); i++) {
            $("#image_" + i).on('change', function () {
                var data = new FormData();
                var files = $("#image_" + i).get(0).files;
                if (files.length > 0) {
                    data.append("HelpSectionImages", files[0]);
                    data.append("Id", $("#hidden_" + i).val());
                }
                $.ajax({
                    url: "@Url.Action("UploadImageHome")",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#photo_" + i).attr("src", response.ImagePath);
                    },
                    error: function (er) {
                        alert(er);
                    }
                });
            });
        }
    });
</script>

<div class="row">
    <h2>Thay đổi ảnh Footer</h2>
</div>

<div class="card margin-top-30">
    <div class="card-header bg-primary text-white">Thay đổi ảnh Footer</div>
    <div class="card-body" style="display: block">
        <div class="location col-md-12">
            @{ int index = 1; }
            @foreach (var item in @Model)
            {
                <div class="col col-md-4 pull-left">
                    <div class="form-group">
                        <label for="email">@item.Title:</label>
                        <div class="imageView">
                            <input type="hidden" id="hidden_@index" value="@item.Id" />
                            @if (role.ToString() == "Edit" || role.ToString() == "Manager")
                            {
                                <input type="file" id="image_@index" /><br />
                            }

                            <img id="photo_@index" alt="Photo" src='@item.Url' class="photo-view" />
                        </div>
                    </div>
                </div>
                index++;
            }
        </div>
    </div>
</div>
